$title: #ffffff;
$title-main: #444444;
$text: #f7f3f2;
$text-steps: #e3e3e3;
$text-holidays:#666666;
$button: #ff4e50;
$hover: #e67274;
$hover-holidays:#f1eded;
$bottom:#999999;
$bottom-text:#cccccc;
